@font-face {
    font-family: 'EncodeSansExpanded-Black';
    src: url('../../Content/fonts/EncodeSansExpanded-Black.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 280px;
}*/

textarea {
    width: 100%
}

a {
    text-decoration: none;
    color: #343a40;
}

a:hover {
    text-decoration: underline;
    color: #343a40;
}

.section-top {
    background-size: cover !important;
    position: relative;
    display: table;
    width: 100%;
    background: url(../../Content/images/index-bg.JPG) center center;
    padding: 20px;
    padding-bottom: 20px;
}

.introduction-home {
    height: 350px;
    min-height: 350px;
}

.introduce-text {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*background-color: rgba(0, 0, 0, .6);*/
}

.introduce-text .lead {
    font-size: 1.5em;
}

h1.logo-index {
    font-size: 3.0rem;
    margin: 2rem 0 3rem 0;
    font-weight: 800
}

.logo-text {
    font-family: 'EncodeSansExpanded-Black', Arial;
}


.section-header {
    margin: 25px 0 25px 0
}




.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h1 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h1 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h1 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h1 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h1 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h1 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h1 {
        color: #5bc0de;
    }
