<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="YourAppName" />

  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate} | ${level:uppercase=true} | ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${basedir}\NLog\Debug.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\NLog\Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="5"
            />

    <target xsi:type="File"
        name="errorsLog"
        layout="${longdate} | ${level:uppercase=true} | ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
        fileName="${basedir}\NLog\Errors\Today.log"
        keepFileOpen="false"
        archiveFileName="${basedir}\NLog\Errors\${shortdate}.{##}.log"
        archiveNumbering="Sequence"
        archiveEvery="Day"
        maxArchiveFiles="30"
            />

    <target xsi:type="File"
            name="notFoundLog"
            layout="${longdate} | ${message}"
            fileName="${basedir}\NLog\NotFound\Today.log"
            keepFileOpen="false"
            archiveFileName="${basedir}\NLog\NotFound\${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Info" />
    <logger name="Errors" writeTo="errorsLog" minlevel="Info" />
    <logger name="NotFound" writeTo="notFoundLog" minlevel="Info" />
  </rules>
</nlog>